<div class="new-list">
  <div class="container">
    <h1>Nouvelle liste</h1>
      <%= simple_form_for [@colocation, @list] do |f| %>
        <%= f.input :title, label: "Titre" %>
        <%= f.button :submit, "Créer ma liste", class: "btn btn-light " %>
      <% end %>
  </div>
</div>
