.contact-page {
text-align: center;
margin-top: 20px;
}

.contact {
  margin-top: 20px;
  padding: 10px;
}

.contact-page a {
  text-decoration: none;
  color: #F9BC60;
}

.contacts {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
