
.index-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}

.list-index {
  background-color: white;
  color: #414042;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.list-index > .bin-picto {
  position: absolute;
  top: -5px;
  right: -5px;
}

.list-index a {
  text-decoration: none;
  color: #414042;
}

.mini-todo-items {
  margin-top: 20px;
  text-align: left;
}

.edit-button {
  border: 0px !important;
  font-size: 22px !important;
  margin-left: 15px;
}

.big-yellow-btn {
  font-size: 100px;
  color: #F9BC60;
  margin-left: 100px;
}

.empty-list {
  margin: 0 auto;
  width: 100px;
  margin-top: 60px;
}

.new-list {
  margin-top: 30px;
}

.add-button {
  margin: 20px auto;
  width: fit-content;
}
