.profile-page {
  height: 100vh;
}

.user-infos {
  margin: 20px;
  margin-top: 50px;
  padding: 20px;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

.profile-avatar {
  border-radius: 50%;
}

.colocataires {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.colocataire {
  font-size: 14px;
  text-align: center;
}

.user-infos > .edit-button {
  background-color:#F9BC60;
  position: absolute;
  top: 5%;
  right: 5%;
}

.user-infos a {
  text-decoration: none;
  margin-top: 40px;
  color: #F9BC60;
}
