<span class="badge" data-controller="notification-subscription" data-notification-subscription-target="notif" data-notification-subscription-user-id-value="<%=user.id%>"><%= user.unread_messages %></span>
