<div class="homepage">
  <div class="container">
    <h1>Bienvenue chez vous !</h1>
    <p>Roomies vous permet de faciliter l'organisation de votre colocation, tous ensemble !</p>
    <div class="button-home">Créer une nouvelle coloc <br>
    <i class="fa-sharp fa-solid fa-square-plus"></i></div>
    <div class="button-home">Rejoindre ma coloc <br>
    <i class="fa-solid fa-right-to-bracket"></i></div>
    <img src="https://media.istockphoto.com/id/1291922442/vector/neighbors-keeping-pets-in-their-flats.jpg?s=612x612&w=0&k=20&c=UnezI5ZtzKlCFu99vrdUp1nNDaij-oqZSjMZHuEh1ic=" alt="">
    <%= link_to "Sign in with Google", redirect_path %>
  </div>
</div>
