<div class="homepage">
<h1>Bienvenue chez vous !</h1>
<p>Roomies vous permet de faciliter l'organisation de votre colocation, tous ensemble !</p>

 <p> Créer une nouvelle colocation </p>

<p>Rejoindre ma colocation</p>
</div>
