<h1>Modifier mon élément</h1>
<div class="container">
<%= simple_form_for [@colocation, @list, @item], method: :patch do |f| %>
  <%= f.input :name %>
    <%= f.input :description %>
  <%= f.submit %>
<% end %>
</div>
