
// .chatroom {
//   background: white;
//   margin-top: 9px;
//   height: calc(100vh - 75px);
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   flex-grow: 1;

//   h1 {
//     border-bottom: 1px solid $gray-200;
//     margin-bottom: 0;
//     padding: 1rem;
//   }

//   .messages {
//     height: 100%;
//     overflow: scroll;
//     padding: 1rem;

//   }

//   #new_message {
//     border-top: 1px solid $gray-200;
//     padding: 1rem;


//     .form-group {
//       margin-bottom: 0;
//     }
//   }
// }

// .right-side-message{
//   text-align: right;
//   background: #FFFDF6;
//   padding: 1rem 1.5rem;
//   border-radius: 1rem;
//   font-size: 1.3rem;
//   line-height: 1.6rem;
//   max-width: 100%;
//   word-break: break-word;
//   overflow-wrap: break-word;
//   overflow-x: hidden;
//   border-bottom-left-radius: 1.2rem;
//   border-bottom-right-radius: 1.2rem;
//   line-height: 2rem;


//   float: right;
//       text-align: right;
//       flex: 1 1 auto;


// }

// .left-side-message{

//   text-align: left;
//   background: #F9BC60;
//   // display: inline-block;
//   padding: 1rem 1.5rem;
//   border-radius: 1rem;
//   font-size: 1.3rem;
//   line-height: 1.6rem;
//   max-width: 100%;
//   word-break: break-word;
//   overflow-wrap: break-word;
//   overflow-x: hidden;


//   float: left;
//   text-align: left;
//   flex: 1 1 auto;
//   width: 50%;



// }

// .message-input {
//   background: none;
//   border: none;
//   outline: none!important;
//   resize: none;
//   /* color: rgba(255, 255, 255, .8);*/
//   font-size: 15px;
//   height: 24px;
//   margin: 0;
//   padding-right: 20px;
//   width: 265px;
//   color: #444;
// }
// textarea:focus:-webkit-placeholder {
//   color: transparent;
// }
// .message-submit {
//   position: absolute;
//   z-index: 1;
//   top: 9px;
//   right: 10px;
//   color: #4A90E2;
//   border: none;
//  /* background: #c29d5f;*/
//   background: #fff;
//   font-size: 12px;
//   text-transform: uppercase;
//   line-height: 1;
//   padding: 6px 10px;
//   border-radius: 5px;
//   outline: none!important;
//   transition: background .2s ease;
//   cursor:pointer;

// }






.left-side-message {

align-self: start;
background-color: #e9ecef;
max-width: 100%;
padding: 16px;
border-radius: 8px;
}




.right-side-message {

align-self: end;

  background-color: #F9BC60;
  max-width: 100%;
  padding: 16px;
  border-radius: 8px;
}






// =============== CI DESSOUS LE COURS ======================




.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    line-break: anywhere;

  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
  .form-mb {
    margin-bottom: 70px;
  }
}
