.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
.left-side-message {
  align-self: start;
  background-color: #e9ecef;
  max-width: 100%;
  padding: 16px;
  border-radius: 8px;
  line-break: anywhere;

}

.right-side-message {
  align-self: end;
  background-color: #F9BC60;
  max-width: 100%;
  padding: 16px;
  border-radius: 8px;
  line-break: anywhere;

}
.message-content{
  margin-top: 20px;
}
