.navbar-lewagon {
  justify-content: space-between;
  background: #CE7777;
  position: sticky;
  top: 0px;
  z-index: 7;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  list-style: none;
}

.coloc_name {
  font-family: Boogaloo;
  color: white;
}
