.navbarbotom {
  z-index: 20;

  height: 90px;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CE7777;
  justify-content: space-around;

  i {
    font-size: 40px;
    color: white;
    opacity: 0.7;
  }

  .active-page {
    font-size: 56px;
    opacity: 1;
  }
}

.navbar {
  padding: 0px;

}



// .navbar-brand:last-child {
//   margin-right: -20px;
// }
// .relat {
//   position: relative;
// }
.badge {
  position: relative;
  top: -26px;
  right: 20px;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: #f44336;
  border-radius: 50%;
}
