.navbarbotom {

  height: 90px;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CE7777;
  justify-content: space-around;

  i {
    font-size: 40px;
    color: white;
    opacity: 0.7;
  }

  .active-page {
    font-size: 56px;
    opacity: 1;
  }
}
