.button-new {
  padding: 35px 0px;
  width: 100%;
  background-color: #F9BC60;
  border-radius: 22px;
  text-align: center;
  text-decoration: none;
  color: #252525;
  font-size: 24px;
  display: inline-block;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
